* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/*NAV*/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    position: relative;
    z-index: 100;
}

nav a {
    display: inline-flex;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
}

nav a:hover {
    background-color: #131313;
}

/*SUBMENUS*/
nav ul ul {
    display: none;
    position: absolute;
    background-color: #000000;
    flex-direction: column;
}

nav ul li:hover > ul {
    display: flex;
}

nav ul ul a:hover {
    background-color: #131313;
    width: 100%;
}

/*BODY*/
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    display: flex;
}

/*FOOTER*/
footer {
    background: #000000;
    padding: 40px;
    color: #fff;
    text-align: center;
}

footer address a {
    text-decoration: none;
    color: #fff;
}

footer address a:hover {
    color: #666;
}